*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
:root {
  --yellow: #c9b458;
  --darkGrey: #787c7e;
  --lightGrey: #d3d6da;
  --green: #7db700;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

nav {
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  border-bottom: 0.1px solid rgb(209, 209, 209);
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

#title {
  font-weight: 600;
  color: var(--yellow);
  font-size: 5rem;
}

#board {
  width: 20vw;
  min-width: 300px;
  display: grid;
  margin-bottom: auto;
  margin-top: auto;
  position: relative;
  gap: 6px;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  /* min-height: 300px; */
  /* height: 24vw; */
}
.tile {
  padding: 0;
  transition: transform 150ms linear;
  font-weight: 600;
  font-size: 2rem;
  color: black;
  line-height: 0;
  background-color: white;
  border: 2px solid rgb(219, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  position: relative;
  /* background-color: red; */
  padding: 0px 2rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

#answer {
  position: absolute;
  bottom: -4rem;
  left: 50%;
  padding: 0.5rem;
  transform: translateX(-50%);
  font-weight: 600;
  color: black;
  font-size: 1.5rem;
}
.filled {
  /* animation-name: vibrate; */
  animation-duration: 50ms;
  animation-name: tumble;
  border-color: #878a8c;
}

@keyframes vibrate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#keyboard {
  /* position: absolute;
  bottom: 0; */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 1rem;
}
.key,
.key2 {
  background-color: var(--lightGrey);
  padding: 1rem 0.9rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.key:hover,
.key2:hover {
  opacity: 0.8;
}

.key {
  grid-column: span 1;
}

.key2 {
  grid-column: span 2;
}
.space {
  grid-column: span 1;
}

.key-row {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(10, 1fr);
}
.key-row:nth-child(2) {
  grid-template-columns: repeat(11, 1fr);
}
.key-row:nth-child(3) {
  grid-template-columns: repeat(11, 1fr);
}

.present {
  background-color: var(--yellow);
  color: white;
  border: none;
}
.inPlace {
  background-color: green;
  color: white;
  border: none;
}
.wrong {
  background-color: var(--darkGrey);
  color: white;
  border: none;
}

.flip {
  transform: rotateX(90deg);
}
